# This GitHub Action creates the dinghy digest and publishes them every day.

name: "Daily activity digests"

on:
  push:
  schedule:
    # 1pm UTC, so 8/9am Eastern.
    # https://crontab.guru/#02_13_*_*_*
    - cron: "02 13 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  digest:
    name: "Daily digest"
    runs-on: ubuntu-latest
    environment: github-pages
    permissions:
      contents: read
      pages: write      # Needed to deploy to GitHub pages
      id-token: write   # Needed to deploy to GitHub pages

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Install Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"

      - name: "Install dinghy"
        run: |
          python -m pip install dinghy

      - name: "Run dinghy"
        env:
          # A personal access token with public_repo permission.
          # https://github.com/settings/tokens/941466930
          GITHUB_TOKEN: ${{ secrets.DINGHY_ACCESS_TOKEN }}
        run: |
          python -m dinghy

      - name: "Setup Pages"
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: "Upload artifact"
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          # Upload entire repository
          path: '.'

      - name: "Deploy to GitHub Pages"
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
